.modal_login{
    position: fixed;
    top: 0;
    left: 0;
    background: hsla(0, 0%, 0%, 0.377);
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup_login{
    /* background: #f9f9f9; */
    /* border: 1px solid #e9e9e9; */
    /* padding: 60px; */
    /* border-radius: 8px; */
    max-width: 100%;
    /* width: 30%; */
}
.popup_login input, .popup_login select{
    padding: 10px;
    display: block;
    min-width: 300px;
    width: 90%;
}

.popup_login select{
    min-width: 325px;
    margin-right: 0;
    width: 94%;
}

.popup_login textarea{
    resize: vertical;
    min-width: 325px;
    min-height: 200px;
    width: 94%;
}

.popup_login form{
    max-width: 100%;
}

.popup_login h3{
    margin-bottom: 5px;
}

.popup_login form input[type="submit"]{
    min-width: 325px;
    margin: 20px auto 0 auto;
    cursor: pointer;
    width: 89%;
}

.popup_login .option{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.error{
    background: #cf4f4f;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    display: none;
    width: 91%;
    text-align: center;
}

.error2{
    width: 96% !important;
}

.error-border{
    border: 1px solid #da0000;
    box-shadow: inset 0 0 7px 0px #d60e0e;
}