AddDefaultCharset utf-8
<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>
<ifmodule mod_filter>
    <ifmodule mod_deflate>
        AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript
        DeflateCompressionLevel 8
    </ifmodule>
</ifmodule>