#filters .option{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cccccc;
}

#filters .option:last-child{
    border:none;
}

.slider-selection {
	background: #bfc9e0;
}

.slider-track-low, .slider-track-high{
    background: #fff;
    border: 1px solid #c3c3c3;
}

.slider.slider-horizontal{
    width: 100%;
}

.slider-handle{
    cursor: pointer;
}

h5{
    color: #7d7d7d;
}

.filter{
    min-width: 250px;
    max-width: 320px;
    position: fixed;
    right: 1rem;
}

.filter__header{
    text-align: center;
    margin: 0.2rem;
}

.filter_less_padding{
    padding: 0.8rem 1.25rem;
}


@media screen and (max-width: 600px ) {
    .filter{
        display: none;
    }
}