.vacancy{
    max-width: 100%;
    margin-bottom: 10px;
}

.vacancy header{
    margin-bottom: 10px;
}

.vacancy header .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.vacancy header .bottom{
    display: flex;
}

.vacancy header .bottom div{
    margin-right: 20px;
    color: #727272;
}

.vacancy header .company{
    color: #0275d8;
}

.vacancy header .emp{
    color: #000000;
}

.vacancy footer{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.vacancy .salary{
    display: flex;
    align-items: flex-end;
}

.vacancy .salary span{
    color: #7d7d7d;
    font-size: 18px;
    font-weight: bold;
}

.vacancy header a{
    text-decoration: none;
    color: #3498db;
    font-size: 25px;
}

.vacancy header a:hover{
    color: #025aa5;
}

.vacancy footer{
    color: #727272;
    font-size: 15px;
}

.vacancy p{
    color: #3a3a3a;
}

.vacancy_block{
    min-width: 500px;
    border-right: none !important;
    border-left: none !important;
    padding: 0 10px;
}

.vacancy_block:not(:first-child) {
    border-top: none;
}