.wrapper-404{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
}

.wrapper-404 img{
    height: 100vh;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
