
.full_vacancy .vacancy_name{
    font-size: 35px;
    color: #636363;
    font-weight: bold;
}

.full_vacancy .company{
    color: #1878af;
    font-size: 35px;
}

.full_vacancy .vacancy_info{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.full_vacancy .vacancy_info > *{
    flex-grow: 1;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.full_vacancy .vacancy_info > * .header{
    color: #7c7c7c;
    margin-bottom: 10px;
}

.full_vacancy .vacancy_info > * .body{
    color: #757575;
    font-weight: bold;
}

.full_vacancy .primary_info, .secondary_info{
    padding: 20px;
}

.full_vacancy .primary_info ul{
    margin-left: 50px;
}

.full_vacancy .primary_info ul li{
    margin-bottom: 5px;
}

.full_vacancy .primary_info > *{
    margin-bottom: 20px;
}

.full_vacancy .primary_info > * h4{
    margin-bottom: 5px;
}

.full_vacancy .primary_info > .demands{
    margin-bottom: 0;
}

.full_vacancy .secondary_info > * {
    margin-bottom: 20px;
}

.full_vacancy .secondary_info > * h4{
    margin-bottom: 30px;
    color: #646464;
}

.full_vacancy .contact_info{
    width: auto !important;
    margin: 10px 0 0 32px;
}
.full_vacancy .contact_info td,
.full_vacancy .contact_info th{
    white-space: nowrap;
    padding: 7px 50px 7px 0;
    border: 0;
}

.full_vacancy .secondary_info .schedule > div,
.full_vacancy .secondary_info .name{
    margin-left: 10px;
}

.full_vacancy .secondary_info .name{
    color: #252525;
    font-weight: bold;
}

.full_vacancy .wq{
    padding-left: 20px;
    padding-right: 20px;
}

.full_vacancy .description{
    font-style: italic;
    font-weight: 500;
    font-size: 19px;
}