#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgb(252,252,252);
    background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(229,229,229,1) 100%);
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(229,229,229,1) 100%);
    border-bottom: 1px solid #cccccc;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 58px;
    z-index: 5;
}

#header nav{
    display: flex;
}

#header nav, #header nav *{
    height: inherit;
}

#header a, #header a *{
    cursor: pointer;
    /* transition: all 0.2s ease-in-out; */
}

#header a, #header a:active, #header a:visited{
    text-decoration: none;
    color: #000000;
    padding: 0 10px;;
    display: block;
}

#header a span{
    display: flex;
    align-items: center;
}

#header a:hover:not(.active){
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(201,201,201,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(201,201,201,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(201,201,201,1) 100%);
    color: #000000;
    transition: all 0.2s ease-in-out;
}

#header .active{
    background: rgb(139,216,237);
    background: -moz-linear-gradient(top, rgba(139,216,237,1) 0%, rgba(44,83,158,1) 100%);
    background: -webkit-linear-gradient(top, rgba(139,216,237,1) 0%,rgba(44,83,158,1) 100%);
    background: linear-gradient(to bottom, rgba(139,216,237,1) 0%,rgba(44,83,158,1) 100%);
    color: #ffffff !important;
}

#header .name{
    position: relative;
    height: inherit;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}

#header .name .avatar{
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .name .avatar img{
    max-height: 90%;
    width: auto;
    border-radius: 4px;
}

#header .name a{
    display: flex;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}

#header .name *{
    height: inherit;
}

#header .name .dropdown-toggle::after {
    margin-left: 0.5em;
}


#header .logout{
    position: absolute;
    padding: 0;
    text-align: center;
    width: 96%;
    margin: 14px 10px 0px 5px;
    top: 100%;
    left: 0;
    border-top: 1px solid #cccccc;
    box-shadow: 0 2px 3px 0px #bdbdbd;
    background: #ffffff;
    z-index: 7;
    display: none;
    border-radius: 4px;
    height: initial;
}

#header .logout > div{
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#header .logout button{
    color: #383838;
    border: none;
    background: #ffffff;
    display: block;
    text-align: center;
    width: 100%;
    cursor: pointer;
    padding: 10px 0;
    transition: background-color 0.2s ease-in-out;
}

#header .logout button:hover{
    background: rgba(209, 209, 209, 0.164);
    color: #000000;
}

.triangle-up:hover:after{
    border-bottom: 12px solid rgb(247, 247, 247);
}

.triangle-up:after {
    content: "";
    position: absolute;
	width: 0;
    height: 0;
    bottom: 100%;
    right: 10px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
    border-bottom: 12px solid rgb(255, 255, 255);
    z-index: 9;
    transition: border-color 0.2s ease-in-out;
}

.triangle-up:before {
    content: "";
    position: absolute;
	width: 0;
    height: 0;
    bottom: 100%;
    right: 9px;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
    border-bottom: 13px solid #cccccc;
    z-index: 8;
}

.menu-active{
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(201,201,201,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(201,201,201,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(201,201,201,1) 100%);
    color: #000000;
}

#header .side-menu{
    display: flex;
    height: inherit;
}

#header .side-menu a{
    display: flex;
    justify-content: center;
    align-items: center;
}