$header-height: 48px;
$adaptive-header: 700px;

#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgb(252,252,252);
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(229,229,229,1) 100%);
    border-bottom: 1px solid #cccccc;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: $header-height;
    z-index: 5;

    .header-menu-toggle{
        display: none !important;
        @media screen and (max-width: $adaptive-header) {
            display: flex !important;
        }
    }

    *{
        height: inherit;
    }

    nav {
        display: flex;
    }

    a, a * {
        cursor: pointer;
    }

    .link, .link:active, .link:visited{
        text-decoration: none;
        color: #000000;
        padding: 0 10px;;
        display: flex;

        .text{
            display: flex;
            align-items: center;

            @media screen and (max-width: $adaptive-header) {
                display: none;
            }
        }
    }

    .icon{
        display: none;
        @media screen and (max-width: $adaptive-header) {
            display: block;
        }
    }

    .link:hover:not(.active), .link:hover:not(.active) {
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(201,201,201,1) 100%);
        color: #000000;
        transition: all 0.2s ease-in-out;
    }

    .active{
        background: rgb(139,216,237);
        background: linear-gradient(to bottom, rgba(139,216,237,1) 0%,rgba(44,83,158,1) 100%);
        color: #ffffff !important;
    }

    .name{
        position: relative;
        height: inherit;
        display: flex;
        padding-left: 5px;
        padding-right: 5px;

        .avatar{
            padding-top: 2px;
            padding-bottom: 2px;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                max-height: 90%;
                width: auto;
                border-radius: 4px;
            }
        }
        
        .link{
            display: flex;
            margin-right: 5px;
            justify-content: center;
            align-items: center;
        }

        
        .dropdown-toggle::after {
            margin-left: 0.5em;
        }
        

    }

    .drop_menu{
        position: absolute;
        padding: 0;
        text-align: center;
        width: 96%;
        margin: 14px 0;
        top: 100%;
        left: 0;
        border-top: 1px solid #cccccc;
        box-shadow: 0 2px 3px 0px #bdbdbd;
        background: #ffffff;
        z-index: 7;
        display: none;
        border-radius: 4px;
        height: initial;

        > div{
            border-bottom: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
        }

        button{
            color: #383838;
            border: none;
            background: #ffffff;
            display: block;
            text-align: center;
            width: 100%;
            cursor: pointer;
            padding: 10px 0;
            transition: background-color 0.2s ease-in-out;

            &:hover{
                background: rgba(209, 209, 209, 0.164);
                color: #000000;
            }
        }
    }
    
    .side-menu{
        display: flex;
        height: inherit;
        
        a{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .triangle-up:hover:after{
        border-bottom: 12px solid rgb(247, 247, 247);
    }

    .triangle-up:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        right: 10px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid rgb(255, 255, 255);
        z-index: 9;
        transition: border-color 0.2s ease-in-out;
    }

    .triangle-up:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        right: 9px;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 13px solid #cccccc;
        z-index: 8;
    }

    .menu-active{
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(201,201,201,1) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(201,201,201,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(201,201,201,1) 100%);
        color: #000000;
    }

    .header-menu-m{
        background: #ffffff;
        position: fixed;
        top: $header-height - 1;
        left: 0;
        height: auto;
        width: 100vw;
        border-bottom: 2px solid #a7a7a7;
        transform: scaleY(0);    
        transform-origin: top;
        transition: transform 0.5s ease;

        .text{
            text-align: center;
            width: 100%;
        }

        &-fadein{
            transform: scaleY(1);
        }
    }

    .header-menu{
        display: flex;
        @media screen and (max-width: $adaptive-header) {
            display: none;
        }
    }

}
